section{
    border: 1px solid #000;
    width: 98vw;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

div{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*A.*/
.sct01-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(4, 1fr);
}

.sct01_C{
    grid-column: 2;
    grid-row: 1;
    background-color: #fff;
}

.sct01_F{
    grid-column: 4;
    grid-row: 2;
    background-color: #4169e1;
}

.sct01_H{
    grid-column: 1;
    grid-row: 1;
    background-color: #4169e1;
}

/*B.*/
.sct02-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(4, 1fr);
}

.sct02_A{
    grid-row: 1/3;
}

.sct02_C{
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: #fff;
}

.sct02_F{
    grid-column: 1;
    grid-row: 2/4;
    background-color: #4169e1;
}

.sct02_H{
    grid-column: 1;
    grid-row: 1;
    background-color: #4169e1;
}

/*C.*/
.sct03-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(4, 1fr);
}

.sct03_A{
    grid-row: 1/3;
}

.sct03_B{
    grid-column: 1;
    grid-row: 2/4;
}

.sct03_C{
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: #fff;
}

.sct03_F{
    background-color: #4169e1;
}

.sct03_H{
    grid-column: 1;
    grid-row: 1;
    background-color: #4169e1;
}

/*D.*/
.sct04-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(4, 1fr);
}

.sct04_A{
    grid-row: 3/6;
}

.sct04_B{
    grid-column: 1;
    grid-row: 3/7;
}

.sct04_C{
    grid-column: 2/4;
    grid-row: 3/6;

    background-color: #fff;
}

.sct04_F{
    grid-column: 2/5;
    grid-row: 6/7;
    background-color: #4169e1;
}

.sct04_H{
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: #4169e1;
}

/*E.*/
.sct05-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(4, 1fr);
}

.sct05_C{
    grid-column: 1/3;
    grid-row: 2;
    background-color: #fff;
}

.sct05_D{
    grid-column: 2/4;
}

.sct05_F{
    grid-column: 4;
    grid-row: 2/4;
    background-color: #4169e1;
}

.sct05_H{
    grid-column: 1/5;
    grid-row: 1;
    background-color: #4169e1;
}

/*G.*/
.sct06-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(4, 1fr);
}

.sct06_C{
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: #fff;
}

.sct06_F{
    grid-column: 4;
    grid-row: 4;
    background-color: #4169e1;
}

.sct06_H{
    grid-column: 1;
    grid-row: 3/5;
    background-color: #4169e1;
}

/*H.*/
.sct07-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(7, 1fr);
}

.sct07_A{
    grid-row: 3/10;
    grid-column: 6;
}

.sct07_B{
    grid-row: 3/10;
    grid-column: 7;
}

.sct07_C{
    grid-row: 1/10;
    grid-column: 1/6;
    background-color: #fff;
}

.sct07_D{
    grid-row: 3/7;
    grid-column: 2;
}

.sct07_E{
    grid-row: 3/7;
    grid-column: 4;
}

.sct07_F{
    grid-row: 2;
    grid-column: 6/8;
    background-color: #4169e1;
}

.sct07_G {
    grid-row: 4;
    grid-column: 3;
}

.sct07_H {
    grid-row: 1;
    grid-column: 6/8;
    background-color: #4169e1;
}

/*I.*/
.sct08-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(5, 1fr);
}

.sct08_A{
    grid-row: 3/8;
    grid-column: 3/5;
}

.sct08_B{
    grid-row: 4/8;
    grid-column: 4/6;
}

.sct08_C{
    grid-row: 2/8;
    grid-column: 1/4;
    background-color: #fff;
}

.sct08_F{
    grid-row: 8;
    grid-column: 1/6;
    background-color: #4169e1;
}

.sct08_H {
    grid-row: 1;
    grid-column: 1/4;
    background-color: #4169e1;
}

/*J.*/
.sct09-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(9, 1fr);
}

.sct09_A{
    grid-row: 4/6;
    grid-column: 2;
}

.sct09_B{
    grid-row: 2/4;
    grid-column: 8;
}

.sct09_C{
    grid-row: 2/10;
    grid-column: 3/8;
    background-color: #fff;
}

.sct09_D{
    grid-row: 5/7;
    grid-column: 1;
}

.sct09_E{
    grid-row: 4/6;
    grid-column: 8;
}

.sct09_F{
    grid-row: 10;
    grid-column: 3/8;
    background-color: #4169e1;
}

.sct09_G{
    grid-row: 3/5;
    grid-column: 9;
}

.sct09_H{
    grid-row: 1;
    grid-column: 3/8;
    background-color: #4169e1;
}

.sct09_I{
    grid-row: 6/8;
    grid-column: 2;
}

/*L.*/
.sct10-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(9, 1fr);
}

.sct10_A{
    grid-row: 1;
    grid-column: 7/9;
}

.sct10_B{
    grid-row: 2;
    grid-column: 7/9;
}

.sct10_C{
    grid-row: 1/5;
    grid-column: 2/7;
    background-color: #fff;
}

.sct10_D{
    grid-row: 3;
    grid-column: 7/9;
}

.sct10_E{
    grid-row: 4;
    grid-column: 7/9;
}

.sct10_H{
    grid-row: 1/5;
    grid-column: 1;
    background-color: #4169e1;
}

/*M.*/
.sct11-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(8, 1fr);
}

.sct11_A{
    grid-row: 1;
    grid-column: 7/9;
}

.sct11_B{
    grid-row: 2;
    grid-column: 7/9;
}

.sct11_C{
    grid-row: 1/5;
    grid-column: 2/7;
    background-color: #fff;
}

.sct11_D{
    grid-row: 3;
    grid-column: 7/9;
}

.sct11_E{
    grid-row: 4;
    grid-column: 7/9;
}

.sct11_H{
    grid-row: 1/5;
    grid-column: 1;
    background-color: #4169e1;
}

/*N.*/
.sct12-content{
    display: grid;
    width: 70vw;
    height: 60vh;
    grid-template-columns: repeat(8, 1fr);
}

.sct12_A{
    grid-row: 1;
    grid-column: 2/4;
}

.sct12_B{
    grid-row: 2;
    grid-column: 2/4;
}

.sct12_C{
    grid-row: 1/3;
    grid-column: 4/9;
    background-color: #fff;
}

.sct12_H{
    grid-row: 1/3;
    grid-column: 1;
    background-color: #4169e1;
}